body{
    margin: 0 ;    
    font-family: 'Lato', sans-serif;
    color: black;
    background: white;
}

.logo{
    height:10%;
}

.logo img{    
    height:100%;
    width:310px;
    margin:20px auto;
    display:flex;
    align-content: center;
}

.toplinks nav{    
    height:5%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    
}

.toplinks a{
    text-decoration: none;
    color:black;
    margin-left:auto;
    margin-right:auto;    
    font-size: 20px;
    
}

h1{   
    width:670px;
    margin:auto;
    margin-bottom:40px; 
    font-size: 45px;
}

h4{
    margin:10px;
}

p{    
    font-size: 20px;}

.contactus{ 
    margin:40px;
    
}

form{   
    width:450px;       
    padding:20px;
    margin:40px auto;   
    background-image: linear-gradient( 259deg,  rgba(222,95,95,1) -5%, rgba(53,88,218,1) 133.7% );  
    border-radius: 15px;
}

input, textarea, select {
    width:100%;
    padding:10px;
    margin-bottom: 20px;
}

#button{
    background: rgb(53, 13, 53);
    color:white;
    padding: 15px;
    border:none;
}

#button:hover{
    cursor: pointer;
}

.footer a{
    text-decoration: none;
    color: white;
    margin-left:auto;
    margin-right:auto;    
}

.footer {
    background: black;
    color:white;
    height:25%;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.lista1{
    text-align: center;
    
}
.lista1 a{
    padding:10px;
}

.fab{
    width:50px;
}