body{
    margin: 0 ;    
    font-family: 'Lato', sans-serif;
    color: black;
    background: white;
}

.logo{
    height:15%;
}

.logo img{    
    height:100%;
    width:310px;
    
    margin:20px auto;
    display:flex;
    align-content: center;
}

.toplinks nav{   
    height:5%;
    display:flex;    
    justify-content: center;
    align-items:center;
}

.toplinks a{
    padding: 10px;
    text-decoration: none;
    color:black;
    margin-left:auto;
    margin-right:auto;
    font-size:20px;    
}

.toplinks a:hover{
    text-decoration-line: underline;
    text-decoration-color: violet;   
}

h1{   
    width:670px;
    margin:auto;
    margin-bottom:40px; 
    font-size: 45px;
}

h2{
    font-size: 30px;
}

h4{
    margin:10px;
}

p{    
    font-size: 20px;
}

.aboutus, .ourwork, .contactus {
    height: 30%;
    margin: 40px;
    display: flex;
    justify-content: space-around;
    padding:20px;
    background: rgb(172,182,231);
background: linear-gradient(90deg, rgba(172,182,231,1) 0%, rgba(254,165,255,1) 100%);
    border-radius: 15px;
    color:black;
}


.imagen1 img{
    height:80%;
    margin:10px;
}
.imagen1{
    display:flex;
    align-items: center;
    justify-content: center;
}


.footer a{
    text-decoration: none;
    color: white;
    margin-left:auto;
    margin-right:auto;    
}

.footer {
    background: black;
    color:white;
    height:25%;
    display:flex;
    justify-content: space-around;    
    align-items: center;
}

.lista1{
    text-align: center;
    
}
.lista1 a{
    padding:10px;
}

.fab{
    width:50px;
}

a{
    text-decoration: none;
}

a:hover{
    color:violet;
}